.border-10 {
  border-width: 10px;
}
.border-t-10 {
  border-top-width: 10px;
}
.border-loader {
  border-color: #f3f3f3;
}
.border-t-loader {
  border-top-color: #00C853;
}
.w-100px {
  width: 100px;
}
.h-100px {
  height: 100px;
}
.rounded-loader {
  border-radius: 50%;
}
